.RadioForm__Icon{
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 20px;
    box-shadow: 0 0 5px rgba(255,255,255,1);
    cursor: pointer;
}
.RadioForm__Icon:hover{
    border: 1px solid #000;
}
.RadioForm__IconActive{
    box-shadow: 0 0 40px rgb(207, 231, 111);
    transform: translateX(-30px);
    transition: transform 0.3s ease-in-out;
}
.RadioForm__pythonIcon{
    background-image: url('./../assets/img/python.svg');
    background-size: 100%; /* чтобы картинка занимала всю область */
    background-repeat: no-repeat;
    background-position: center;
}
.RadioForm__javaIcon{
    background-image: url('./../assets/img/java.svg');
    background-size: 80%; /* чтобы картинка занимала всю область */
    background-repeat: no-repeat;
    background-position: center;
}
.RadioForm__cppIcon{
    background-image: url('./../assets/img/cpp.svg');
    background-size: 100%; /* чтобы картинка занимала всю область */
    background-repeat: no-repeat;
    background-position: center;
}
.RadioForm__jsIcon{
    background-image: url('./../assets/img/js.svg');
    background-size: 60%; /* чтобы картинка занимала всю область */
    background-repeat: no-repeat;
    background-position: center;
}


@media (max-width: 1200px) {
    /* Стили для экранов шириной 1200px и меньше */
    .RadioForm__Icon{
        width: 50px;
        height: 50px;
    }
  }
  
  
  @media (max-width: 1024px) {
    /* Стили для экранов шириной 1024px и меньше */
    .RadioForm__Icon{
        width: 45px;
        height: 45px;
    }
  }
  
  
  @media (max-width: 768px) {
    /* Стили для экранов шириной 768px и меньше */
    .RadioForm__Icon{
        width: 40px;
        height: 40px;
    }
    .RadioFrom__mobileRadioForm{
        display: flex;
        justify-content: center;
        margin: 30px;
        /* width: 100%; */
    }
    .RadioForm__IconActive{
        transform: translateY(-30px);
        transition: transform 0.3s ease-in-out;
    }
  }
  
  @media (max-width: 425px) {
      /* Стили для экранов шириной 425px и меньше */
      
    }