.ModalChart__wrapperBlure{
    width: 100%;
    height: 100vh;
    background-color: rgba(220, 220, 220, .0);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}
.ModalChart__wrapperModal{
    width: 700px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255,255,255,1);
    background-color: #fff;
}
.ModalChart__containerCross{
    display: flex;
    justify-content: end;
}
.ModalChart__cross{
    cursor: pointer;
    padding: 20px;
    width: 70px;
    height: 70px;
}

@media (max-width: 1440px) {
    /* Стили для экранов шириной 1440px и меньше */
    
  }
  
  
  @media (max-width: 1200px) {
    /* Стили для экранов шириной 1200px и меньше */
  }
  
  
  @media (max-width: 1024px) {
    /* Стили для экранов шириной 1024px и меньше */
    
  }
  
  
  @media (max-width: 768px) {
    /* Стили для экранов шириной 768px и меньше */
    .ModalChart__wrapperModal{
        width: 400px;
        height: 350px;
    }
  }
  
  @media (max-width: 425px) {
      /* Стили для экранов шириной 425px и меньше */
      .ModalChart__wrapperModal{
        width: 300px;
        height: 300px;
    }
    }