#root {
  margin: 0 auto;
  text-align: center;
}
h1,h2,h3,h4,h5,h6,p,button, div{
  font-family: robotronika;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

button, a{
  cursor: pointer;
}

@font-face {
  font-family: robotronika;
  src: url("../public/Robtronika.ttf")
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.anticon svg {
  display: none;
}
