.RegistrationPage_containerIconColor{
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 10px;
}
.RegistrationPage__wrapper{
    padding: 15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.RegistrationPage__container--white{
    width: 750px;
    height: 550px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255,255,255,1);
    background-color: rgba(220, 220, 220, .2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px); /* Размытие фона на 10 пикселей */
    z-index: 1;
}
.RegistrationPage__h1{
    margin: 30px 0 50px;
    font-weight: normal;
    font-size: 35px;
    color: #fff;
}
.RegistrationPage__containerInput{
    width: 70%;
    margin: 15px auto;
    
}
.RegistrationPage__containerInput input{
    box-shadow: 0 0 20px rgba(255,255,255,.8);
    font-size: 17px;
}
.RegistrationPage__containerText{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.RegistrationPage__containerText p {
    font-size: 17px;
    text-align: left;
    padding:  0 5px;
    color: #fff;
}
.RegistrationPage__containerText a {
    color: blue;
    text-decoration: underline;
}
.RegistrationPage__containerTextGuest{
    width: 70%;
    margin: 0 auto;
    padding:  0 5px; 
    color: blue;
    text-decoration: underline;
    text-align: left;
    font-size: 18px;
    
    margin-bottom: 20px;
}

.RegistrationPage__containerButton{
    width: 100%;
    display: flex;
    justify-content: center;
}
.RegistrationPage__button{
    font-size: 20px;
    background-color:  rgba(255, 255, 255, 1);
    border: 2px solid #ccc;
    padding: 5px 10px;
    margin: 0 5px ;
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(255,255,255,.8);
    color: #000;

    bottom: 0;
    position: absolute;
    margin: 0 0px 50px;
}

.RegistrationPage__button:hover{
    background-color:  rgba(220, 220, 220, .5);
    color: #fff;
}



.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}