@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px; 
    padding: 0px;
}
.HomePage__wrapper{
    padding: 15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.Homepage__containerHeader--flex{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HomePage__burgerMenu{
    width: 50px;
    height: 50px;
    color: #fff;
}

.HomePage__button{
    font-size: 20px;
    background-color: #bfe774;
    padding: 7px 10px;
    margin-right: 10px;
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(255,255,255,.8);
    color: #fff;
}
.HomePage__button:hover{
    background-color: #9cd982;
}
.HomePage__containerButton{
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.HomePage__wrapperCompiler--flex{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 65%;
}
.HomePage__containerCompiler--flex{
    width: 100%;
    margin: 0 auto 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1); /* Снаружи справа */
}
.HomePage__compilerWrapper{
    width: 600px;
    height: 600px;
    border-radius: 20px 0 0 20px;
    background-color: rgba(220, 220, 220, .2);
    backdrop-filter: blur(3px); /* Размытие фона на 10 пикселей */
    z-index: 1;
}
.HomePage__compilerInput{
    white-space: pre;
    background-color: rgba(220, 220, 220, .2);
    backdrop-filter: blur(3px);
}
.HomePage__compilerNumber--margin{
    margin-top: 25%;
    padding-top: 1px;
    height: 98%;
    font-size: 16px;
    line-height: 1.2; 
    color: #fff;
    overflow: scroll;
}
.HomePage__compilerNumber{
    margin-top: 5%;
    margin-left: 5%;
    height: 90%;
    padding: 10px 10px 10px 15px;
    font-size: 16px;
    background-color: rgba(220, 220, 220, .4);
    color: #fff;
    border-right: 1px solid;
    border-radius: 20px 0 0 20px;
}
.HomePage__compilerNumber--margin::-webkit-scrollbar {
    display: none;
}

.HomePage__containerCompilerTextCode{
    width: 100%;
    margin-top: 5%;
    height: 90%;
    font-size: 16px; 
    background-color: rgba(220, 220, 220, .1);
}
.HomePage__compilerTextCode{
    width: 100%;
    height: 100%;
    font-family: monospace;
    white-space: pre;
    padding: 15px;  
    font-size: 16px; 
    background-color: rgba(220, 220, 220, .2);
    color: #fff;
    resize: none;
    line-height: 1.2; 
}
.HomePage__compilerTextCode::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
  }
  
.HomePage__compilerTextCode::-webkit-scrollbar-thumb {
    background-color: #6822d8;
    border-radius: 3px;
    cursor: pointer;
}
.HomePage__containerOutput{
    width: 600px;
    height: 600px;
    border-radius: 0 20px 20px 0;
    background-color: rgba(220, 220, 220, .2);
    backdrop-filter: blur(3px); /* Размытие фона на 10 пикселей */
    z-index: 1;
}
.HomePage__compilerWrapperOutput{
    width: 95%;
    height: 90%;
    margin-top: 5%;
    padding: 15px;
    border-radius: 0 20px 20px 0;
    background-color: rgba(220, 220, 220, .4);
    border-left: 1px solid rgba(255, 255, 255, 1);
    backdrop-filter: blur(3px); /* Размытие фона на 10 пикселей */
    z-index: 1;
    color: #fff;
}
.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}